/* Global Styles */

body {
  scrollbar-width: none;
}

/* Specific Component Styles */

.product-image {
  cursor: pointer;
  border-radius: 10px;
  transition: border-color 0.3s ease, opacity 0.3s ease; /* Define transition properties */
}
/* Custom CSS */
@keyframes fadeInScrollBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrollbar-animated::-webkit-scrollbar {
  width: 5px;
  animation: fadeInScrollBar 0.5s ease-in-out;
}

.scrollbar-animated::-webkit-scrollbar-thumb {
  border-radius: 6px;
  animation: fadeInScrollBar 0.5s ease-in-out;
}

.scrollbar-animated::-webkit-scrollbar-track {
  animation: fadeInScrollBar 0.5s ease-in-out;
}
